<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/admin/static/style.css">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Admin</h1>
    </header>
    <div class="container">
        <main>
            <form action="" method="post" class="admin_login">
                <label for="id">ID:</label>
                <input type="text" name="id" id="admin-id" required='required' placeholder="Enter you ID...">
                <label for="password">Password:</label>
                <input type="password" name="password" id="admin-password" required='required' placeholder="Enter your Password..." >
                <button type="submit" class="login_btn" id="admin-login">Login</button>
            </form>
        </main>
    </div>
</body>
</html>