<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style.css">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Tunisme</h1>
    </header>
    <div class="container">
        <main>
            <div class="welcome-msg">
                <h3>Welcome to <span class="tunisme-text">Tunisme</span></h3>
            </div>
        </main>
    </div>
</body>
</html>